 body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
     
}

/*Blog Posts*/

.blog-post {
    margin-bottom: 60px;
}

.blog-post-title {
    margin-bottom: 5px;
    font-size: 40px;
}
.blog-post-meta {
    margin-bottom: 20px;
    color: #999;
    font-style: italic;
    
}
 


footer {
    font-size: 0.75em;
    text-align: center;
    padding-top: 50px;
    color:  #438D80; 
    clear: both;
}

  .carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
      width: 70%;
      margin: auto;
      color: #fff;
  }

  
  #cf{
    position:relative;
    height:600px;
    width:800px;
    margin:0 auto;
    color:#fff;
}
#cf img{
    position:absolute;
    left:0;
    width:800px;
    height:550px;
    border:2px solid white;
    border-radius:10px;
    transition:opacity 2 ease-in-out;
}
#cf img.top:hover {
            opacity:0;